<h2>Textbooks</h2>

<p>There are no required textbooks for this course, the following textbooks are recommended for supplementary and reference purposes.</p>

<ul>
  <li>
    Hierarchical Modeling and Analysis for Spatial Data - Banerjee, Carlin, Gelfand <br/>
    CRC Press, 2nd edition, 2014 (ISBN: 978-1439819173)
  </li>
  <li>
    <a href="http://www.stat.pitt.edu/stoffer/tsa4/tsa4.pdf">Time Series Analysis and Its Applications</a> - Shumway & Stoffer <br/>
    Springer, 4th edition, 2016 (ISBN: 978-3319524511)
  </li>
  <li>
    Data Analysis Using Regression and Multilevel/Hierarchical Models - Gelman & Hill <br/>
    Cambridge University Press, 1st edition, 2003 (ISBN: 978-0521686891)
  </li>
  <li>
     Regression and Other Stories - Gelman & Hill <br/>
     Gelman, Hill, Vehtari, 1st edition, 2020 (ISBN: ISBN-13
978-1107676510)
  </li>
  <li>
    Applied Bayesian Modelling - Congdon <br/>
    Wiley, 2003 (ISBN: 978-0471486954)
  </li>
  <li>
    <a href='https://otexts.org/fpp3/'>Forecasting: Principles and Practice</a> - Hyndman & Athanasopoulos <br/>
    OTexts, 3rd edition, 2021 (ISBN: 978-0987507136)
  </li>
</ul>